# Air Quality System Environment Settings
COUNTRY="Sweden"
CITY="Stockholm"
STREET="Central Station IoT"
URL="https://waqi.info/"
LATITUDE=59.3293
LONGITUDE=18.0686

HOPSWORKS_PROJECT_NAME="air_quality_prediction"
HOPSWORKS_API_KEY=""
AQICN_API_KEY=""
OPENAI_API_KEY=""
