# Streamlit Community Cloud Secrets Management (.streamlit/secrets.toml)
# Copy and paste the contents below into the "Secrets" section on Streamlit Cloud (share.streamlit.io)

OPENAI_API_KEY = "YOUR_OPENAI_API_KEY_HERE"
HOPSWORKS_API_KEY = "YOUR_HOPSWORKS_API_KEY_HERE"
HOPSWORKS_PROJECT_NAME = "air_quality_prediction"
AQICN_API_KEY = ""

COUNTRY = "Sweden"
CITY = "Stockholm"
STREET = "Central Station IoT"
URL = "https://waqi.info/"
LATITUDE = 59.3293
LONGITUDE = 18.0686
